.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;

 }
.formLogin {
    width: 100%;

}
.formLogin a{
    text-decoration:none;
}
.signin{
    /*background-color: #555555;*/
    /*width: 100%;*/
    justify-content: center;
}
.signinw{
    width: 500px;
    /*background-color: #007bff;*/
}



