.home{
    display: flex;
    justify-content: space-between;
    /*background-color: aqua;*/
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;


}
.left img{
    height: 100%;
    max-width : 80%;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    /*background-color: aqua;*/

}
.center img{
    height: 100%;
    max-width : 100%;
}
.right{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 25%;
    height: 100%;
    /*background-color: green;*/
    /*justify-content: space-between;*/

}
.right img{
    height: 80px;
    max-width : 80%;
}
.rightItem{
    width: 100%;
    display: flex;
    margin: 15px;
}
.khuvuc{
    width: 100%;
    height: 8px;
    background-color: #DDDDDD;
    margin-top: 20px;
}
.imgCenter{
    margin:10px 0;
}
.imgLeft{
    margin:10px 0;
}
.titelLeft{
    margin-bottom: 50px;
    font-size: 25px;
}
.newsContainer{
    height: 100%;
}
.news img{
    width: 200px;
    height: 100%;
}
.titel{
    text-decoration: none;
    color: black;
    font-family: bold;
}
.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 15px;
}
.imgRight{
    width: 500px;
    height: 120px;
}
.titelRight{
    text-decoration: none;
    color: black;
    font-family: bold;
}
.titelRight h3{
    font-size: 20px;
}
.newsLeft{
    width: 30%;
    height: 100%;
}
.newsRight{
    width: 60%;
    height: 100%;

}
.newsContainer {
    margin-top: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgLeft {
    width: 100%;
    height: auto;
}

.titleLeft {
    margin-top: 10px;
}

.newsSection {
    display: flex;
    flex-direction: column;
}

.newsMain {
    margin-bottom: 20px;
}

.mainImg {
    width: 100%;
    height: auto;
}

.mainTitle {
    margin-top: 10px;
    font-size: 1.5rem;
}

.newsSub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.subNewsItem {
    margin-bottom: 20px;
    display: flex;
}

.subNewsItem img {
    width: 100%;
    height: 100%;
}

.subTitle {
    margin-top: 10px;
    font-size: 1rem;
}
.newsContainer {
    margin-top: 20px;
}

.mainNews {
    text-align: center;
    margin-bottom: 20px;
}

.mainImg {
    width: 100%;
    height: auto;
}

.mainTitle {
    margin-top: 10px;
    font-size: 1.5rem;
}

.subNewsItem {
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-between;
}

.subImg {
    width: 100%;
    height: auto;
}

.subTitle {
    margin-top: 10px;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    /*background-color: aqua;*/
    width: 70%;

}
.cardnext{
    margin-top: 30px;
    margin-bottom: 30px;
}

