.container {
    width: 1350px;
    /*background-color: aqua;*/
    /*height: 20px;*/
}

/* Tùy chỉnh dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*z-index: 1;*/
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

/* Sửa để các danh mục con chia ra mỗi hàng một cách ngang nhau */
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-nav .nav-item {

    margin: 10px;
}
.justify-content-center .custom-link {
    color: black;
    text-decoration: none; /* Loại bỏ gạch chân mặc định */
    position: relative; /* Để có thể thêm dấu gạch chân tương đối */
}

.custom-link::after {
    content: ''; /* Tạo nội dung giả */
    position: absolute; /* Đặt vị trí tuyệt đối */
    left: 0; /* Đặt vị trí bắt đầu từ bên trái */
    bottom: -3px; /* Đặt vị trí từ phía dưới của phần tử */
    width: 100%; /* Chiều rộng bằng với phần tử */
    height: 2px; /* Chiều cao của dấu gạch chân */
    background-color: black; /* Màu của dấu gạch chân */
    transition: bottom 0.3s ease; /* Hiệu ứng chuyển động */
    opacity: 0; /* Ban đầu ẩn dấu gạch chân */
}

.custom-link:hover::after {
    bottom: 0; /* Hiển thị dấu gạch chân khi di chuột vào */
    opacity: 1; /* Hiển thị dấu gạch chân */
}
.custom-link:focus {
    color: blue; /* Màu khi phần tử được focus */
}

.custom-link:active {
    color: red; /* Màu chữ khi phần tử được focus, hover hoặc được nhấn */
}
.justify-content-center{
    background-color: white;
}

